/* NAVBAR */

.myLogo {
  width: 70px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.myLogo:hover {
  padding: 2px;
}

.myIcon {
  margin-bottom: 3px;
}

.aLink:hover {
  border-bottom: 1px solid red;
}

.logout,
.profile {
  width: 35px;
  height: 35px;
  background-color: transparent;
  margin-left: 20px;
}

/* LOGIN PAGE */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
}

.login > h1 {
  color: red;
}

.login > div {
  font-size: 13px;
  color: red;
  margin: 0;
}

.login > .myField {
  width: 20rem;
  height: 3rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.login > input:focus {
  border: 2px solid red;
}

.myButton {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  padding: 4px 73px;
  border-radius: 5px;
  font-weight: bold;
}

/* COUNT PAGE */

.countPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
}

.dec {
  margin-right: 10px;
}

/* HOME PAGE */

.home {
  display: block;
  gap: 1rem;
}

.carousel {
  width: 1000px;
  height: 500px;
  margin: 20px;
}
